body{
    font-family:'Be Vietnam';
}

.container{
     
        text-align:center;
        background-color:#2a5954;
        padding:10px 10px 10px 10px;
        color:#c9e6dd;
        font-weight: bold;
      
}

.htmlhead{
     /* margin-left:10px; */
     /* padding:auto; */
     /* color:#61457b; */
     font-weight:bold;
     background-color:#ececef73;
     padding-bottom: 20px;
     padding-left: 6px;
     border-radius: 8px;

}
a.htmlheadl{
    text-decoration: none;
    color:#72140b;
    

}
.htmlheadl :hover{
   /* background-color: red; */
   color:darkgreen;
}
.htmldesc{
     margin-left:15px;
     /* margin-top:15px; */
     color:#dbf7f8;
     margin-bottom: 19px;
     padding:10px;
     background-color:  #364a40;
     font-size:20px;
     border-radius: 27px;
}
a.explore{
    margin-left: 558px;
     padding:5px;
     background-color:rgb(187 21 71);
    
     color:#e8e7d1;
     text-decoration: none;
     border-radius:18px;


}
a.explore :hover{
     color:red;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #181210;
    color: white;
    margin-top: 35px;
  }