body{
    font-family:'Be Vietnam';
}
.container{
     
    text-align:center;
    background-color: #053e2d;
    padding:10px 10px 10px 10px;
    color:#c2eef1;
    font-weight: bold;
  
}
a.bth{
     text-decoration: none;
     color:green;
}
a.bth :hover{
     color:red;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color:#053e2d;
    padding: 14px 28px;
    font-size: 15px;
    cursor: pointer;
    color:white;
    text-align: center;
    font-weight: bold;
  }
  .contentbox{
    margin-top:10px;
    padding:10px 10px 10px 10px;
    font-weight: bold;
    background-color:#f5f5f5;
    color:#0e1010;
}
.contentbox h2{
     color:darkgreen;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
 .submitf {
    width: 100%;
    background-color: #053e2d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:bold;
  }
  
  input[type=submit]:hover {
    background-color: red;
  }
#formtar{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#greet{
     text-align:center;
     font-weight: bolder;
     color:red;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: #181210;
    color: white;
    margin-top: 35px;
  }